@font-face {
    font-family: TTNormsProMedium;
    src: url(fonts/TT\ Norms\ Pro\ Medium.otf);
  }

.container{
    background-color: #4912f6;
}

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbarTextButtons a:link{
   font-family: TTNormsProMedium;
   font-size: large;
   color: #fff;
   text-decoration: none;
   margin-right: 10px;
}

.logo {
    margin-top: 5px;
    margin-left: 15px;
  }

  .buttonGradient{
    background: rgb(234,159,61);
    background: linear-gradient(90deg, rgba(234,159,61,1) 0%, rgba(238,125,56,1) 100%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 130px 0px 0px;
    cursor: pointer;
    border-radius: 25px;
}

.cardButton{
    width: 30%;
}

.midCard{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 200px;
}

.cardImage{
    width:50%;
}

.card{
    font-family: TTNormsProMedium;
    font-size: large;
    color: #fff;
    text-decoration: none;
    margin-top: 150px;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}

.endCard{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 100px 100px;
 
}

.bannerText{
    font-family: TTNormsProMedium;
    font-size: large;
    color: #fff; 
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.endCardLink{
    font-family: TTNormsProMedium;
    font-size: large;
    color: #fff;
}